<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21682642364-bigmsiv2aj7kng1c5jlsggi68jim75th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21682642364-bigmsiv2aj7kng1c5jlsggi68jim75th</string>
	<key>API_KEY</key>
	<string>AIzaSyDHY1d0aGqMCwFZwxTp-FrgoW2sr4zBtH4</string>
	<key>GCM_SENDER_ID</key>
	<string>21682642364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>emergency-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21682642364:ios:51c61cb831aab976465fb9</string>
</dict>
</plist>